body{
  background-image: url(https://cdn.wallpapersafari.com/94/74/ZxWTsB.jpg);
  text-align: center;
}
img {
    border: 4px lightcoral;
    border-radius: 50%;
    width: 30vw;
}
.before {
  width: 30vw;
  float: left;
  margin-bottom: 66%;
}
.middle {
  width: 30vw;
  float: center;
  margin-left: 33%;
  margin-top: 25%;
}
.after {
  width: 30vw;
  float: top right;
  margin-left: 66%;
}