body{
  background-image: url(https://cdn.wallpapersafari.com/94/74/ZxWTsB.jpg);
  text-align: center;
}
img {
    border: 4px solid lightcoral;
    border-radius: 50%;
    width: 20vw;
    padding: 3px;
    float: center;
    margin:0 auto;
}
.top {
  width: 90vw;
  margin:0 auto;
  background-color: rgba(146, 37, 37, 0.616);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.315);
  display: flex;
  border-radius: 45%;
}
.middle {
  width: 90vw;
  margin:0 auto;
  background-color: rgba(146, 37, 37, 0.616);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.315);
  display: flex;
  border-radius: 45%;
}
.bottom {
  width: 90vw;
  margin:0 auto;
  background-color: rgba(146, 37, 37, 0.616);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.315);
  display: flex;
  border-radius: 45%;
}
.header {
  border: 4px solid  lightcoral;
  border-radius: 50%;
  padding: 5px;
  background-color: rgba(146, 37, 37, 0.616);
  margin-left: 20%;
  margin-right: 20%;
  font-family: Georgia;
  color: darkslateblue;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin:0 auto;
  float: center;
}